/*margin = espaçamento externo FORA
  padding = espaçamento interno DENTRO
  height = altura
  width = largura 
  borda = ela fica posicionada entre o padding e a margin
  */


header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px; /* largura padrão dos navegadores*/
    margin: 0 auto;
}

.logo{
    margin-left: 50px;
}

nav{
    position: absolute; /* usado para mudar de lugar um elemento*/
    top: 110px;   /* subir o elemento */
    right: 0;  /* mover para o lado direito*/
}

nav li{
    display: inline; /*deixar um elemento do lado do outro*/
    margin: 0 0 0 15px;  /* dar um espaçamento entre um elemento e outro (quando estão um do lado do outro)*/
    
}

nav a{
    text-transform: uppercase; /*colocar o texto em maiuscolo.*/
    color: black;  /* alterar a car*/
    font-weight: bold; /* colocar em negrito*/
    font-size: 22px; /* tamanho da fonte*/
    text-decoration: none; /* retirar o sublinhado de baixo da palavra*/
}

nav a:hover{ /*quando o mouse passar por cima*/
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
    width: 980px;
    margin: 0 auto;
    padding: 60px 0;
}

.produtos li{
    display: inline-block; /*com essa propriedade o atamanho pode ser ajustado para a largura e altura*/
    text-align: center; /* centralizar o texto*/
    width: 45%;
    vertical-align: top; /* alinhar meus itens em cima na linha de cima*/
    margin: 0, 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
    border: 2px solid #000000; /*tamanha da minha borda, qual a clalificação dela e a cor*/
    border-radius: 15px; /* para arredondar a bordar, usado somento a quantidade de Px que quero arredondar todas as bordas iguais*/
}

.produtos li:hover{ /*quando o mouse estiver por cima do elemento*/
    border-color: #c78c19;
}

.produtos li:active{  /*quando o mouse estiver clicando no elemento*/
    border-color: red;
}

.produtos li:hover h2{ /* quando o mouse estiver por cima do h2 alterar alguma coisa*/
    font-size: 30px;
}

.produtos h2{
    font-size: 23px;
    font-weight: bold;
}

.imagem-Produtos{
    width: auto; /*largura*/
    height: 300px;  /* autura*/
}

.preco-produtos{
    font-size: 19px;
    font-weight: bold; /*colocar em negrito(alterar a fonte da letra) */
    margin-top: 10px;
}
