/*margin = espaçamento externo FORA
  padding = espaçamento interno DENTRO
  height = altura
  width = largura */


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo{
    margin-left: 50px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.bannerPrincipal{
    height: 450px;
    width: 100%;
}

.principal{
    background: #cccccc;  /* cor de fundo*/
    padding: 30px;
}

.titulo-centralizado{
    text-align: center; /*colocar no centro*/
}


p{
    text-align: center;
}

.missao{
    font-size: 20px;
}

em strong{
    color: red;  /* cor do elemento (cor letra)*/
}


.beneficios{
    background: #ffffff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-right: 15%;
}

.itens{
    font-style: italic;  /*colocar em italico*/
}

.imagemBeneficios{
    width: 50%;
}
